.choco-header{
    background-color:maroon;
  
  font-size:15px;
  color: white;
  width: 60%;
  height: 25%;
  margin: 0 auto;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: maroon;
  }
  
  .li {
    float: left;
  }
  
  .li a {
    display: block;
    color: white;
    text-align: center;
    padding: 27px;
    text-decoration: none;
  }
  
  .li a:hover {
    background-color: #111111;
  }

